* {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 2em;
  text-align: center;
  color: #fff;
  padding: 0.5em;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
  color: #f3f3f3;
}

.article__wrapper__wrapper {
  display: flex;
  flex-wrap: wrap;
  color: #f3f3f3;
  justify-content: center;
}

.article__image {
  width: 100%;
  height: 75%;
}

.article__wrapper {
  display: flex;
  flex-direction: column;
  min-width: 20rem;
  min-height: 20rem;
  flex: 0 0 215px;
  margin: 1em 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.article__info,
.article__description,
.article__readMore {
  padding: 1rem;
}
.article__readMore {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 2rem;
  background-color: grey;
  padding: 0.5rem;
  margin: 0.8rem;
  border-radius: 10px;
}
.article__wrapper a {
  color: #f3f3f3;
}
